body {
    font-family: Arial, sans-serif;
    margin: 30px;
    background: #F6F6F6;
}
h1 {
    color: #593196;
}
form {
    margin-bottom: 15px;
}
ul {
    list-style-type: none;
    padding: 0;
}
li {
    background: #FFF;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0 .5px 2px rgba(0,0,0,0.03);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
